# Check the data and structure of DNABERT 
* For their sample data
* For fine-tuning

In [1]:
import os
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from motif_utils import seq2kmer
from scipy.stats import norm
import collections
import operator
import itertools
import pickle
from tqdm import tqdm
from tqdm.notebook import tqdm_notebook

In [2]:
path="../database/dnabert/examples/sample_data/ft/6/"

In [5]:
file_list=[os.path.join(path, file) for file in os.listdir(path)]

In [6]:
file_list

['../database/dnabert/examples/sample_data/ft/6/train.tsv',
 '../database/dnabert/examples/sample_data/ft/6/dev.tsv']

In [20]:
train=pd.read_csv(file_list[0], sep="\t")

In [23]:
dev=pd.read_csv(file_list[1], sep="\t")

In [41]:
train_pre=pd.read_csv("../database/dnabert/examples/sample_data/pre/6_3k.txt", sep="\n", header=None, names=["sequence"])

In [42]:
train_pre.head()

                                            sequence
0  TTGGAA TGGAAA GGAAAT GAAATT AAATTG AATTGG ATTG...
1  CCAGGA CAGGAA AGGAAC GGAACT GAACTG AACTGG ACTG...
2  CAGGTG AGGTGA GGTGAT GTGATG TGATGG GATGGC ATGG...
3  TGGTGC GGTGCA GTGCAA TGCAAT GCAATC CAATCA AATC...
4  TTAGTT TAGTTT AGTTTG GTTTGC TTTGCT TTGCTC TGCT...

In [35]:
len(train_pre)

3000

In [21]:
train.head()

                                            sequence  label
0  CACAGC ACAGCC CAGCCA AGCCAG GCCAGC CCAGCC CAGC...      0
1  CTAATC TAATCT AATCTA ATCTAG TCTAGT CTAGTA TAGT...      1
2  GGAAGA GAAGAG AAGAGG AGAGGG GAGGGA AGGGAA GGGA...      1
3  CGAAAG GAAAGC AAAGCA AAGCAA AGCAAT GCAATC CAAT...      1
4  TGACTC GACTCC ACTCCC CTCCCA TCCCAA CCCAAA CCAA...      1

In [25]:
dev.head()

                                            sequence  label
0  GTGGGG TGGGGA GGGGAG GGGAGG GGAGGG GAGGGA AGGG...      0
1  GTGTGG TGTGGG GTGGGA TGGGAT GGGATC GGATCA GATC...      0
2  CCCTGC CCTGCA CTGCAT TGCATG GCATGC CATGCC ATGC...      0
3  TTGGAG TGGAGC GGAGCA GAGCAA AGCAAG GCAAGG CAAG...      0
4  AGCACA GCACAG CACAGG ACAGGG CAGGGC AGGGCA GGGC...      0

In [14]:
train.columns

Index(['sequence', 'label'], dtype='object')

In [17]:
len(train["sequence"].iloc[0])

671

In [22]:
len(train)

32366

In [47]:
train["label"].value_counts()

1    16183
0    16183
Name: label, dtype: int64

In [24]:
len(dev)

1000

In [49]:
dev["label"].value_counts()

1    500
0    500
Name: label, dtype: int64

In [27]:
train_all=[]
for i in range(len(train["sequence"])):
    train_all.append(train["sequence"].iloc[i])
len(train_all)

32366

In [28]:
dev_all=[]
for i in range(len(dev["sequence"])):
    dev_all.append(dev["sequence"].iloc[i])
len(dev_all)

1000

In [44]:
train_pre_all=[]
for i in range(len(train_pre["sequence"])):
    train_pre_all.append(train_pre["sequence"].iloc[i])
len(train_pre_all)

3000

In [45]:
cnt=0
for dev_elm in dev_all:
    if dev_elm in train_all:
        print(dev_elm)
        cnt+=1
print("cnt: ", cnt)

CCGCAC CGCACA GCACAA CACAAG ACAAGA CAAGAG AAGAGT AGAGTG GAGTGC AGTGCT GTGCTA TGCTAC GCTACT CTACTC TACTCT ACTCTC CTCTCC TCTCCT CTCCTC TCCTCG CCTCGC CTCGCT TCGCTC CGCTCC GCTCCG CTCCGG TCCGGG CCGGGC CGGGCC GGGCCC GGCCCA GCCCAT CCCATA CCATAA CATAAC ATAACA TAACAC AACACT ACACTT CACTTG ACTTGG CTTGGG TTGGGG TGGGGG GGGGGT GGGGTA GGGTAG GGTAGC GTAGCT TAGCTA AGCTAA GCTAAA CTAAAG TAAAGT AAAGTG AAGTGA AGTGAA GTGAAC TGAACT GAACTG AACTGT ACTGTA CTGTAT TGTATC GTATCC TATCCG ATCCGA TCCGAC CCGACA CGACAT GACATC ACATCT CATCTG ATCTGG TCTGGT CTGGTT TGGTTC GGTTCC GTTCCT TTCCTA TCCTAC CCTACT CTACTT TACTTC ACTTCA CTTCAG TTCAGG TCAGGG CAGGGT AGGGTC GGGTCA GGTCAT GTCATA TCATAA CATAAA ATAAAG
cnt:  1

In [30]:
cnt

1

In [46]:
cnt_pre=0
for train_pre_elm in train_pre_all:
    if train_pre_elm in train_all:
        print(train_pre_elm)
        cnt_pre+=1
print("cnt_pre: ", cnt_pre)

cnt_pre:  0