In [1]:
from platform import python_version
python_version()

'3.8.8'

In [5]:
import os
import pandas as pd
import json
import tqdm
import re
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import collections
from motif_utils import seq2kmer

In [6]:
import css_utility

In [7]:
from css_utility import *

In [8]:
path='../database/bed/unzipped/'
bed_files=os.listdir(path)

In [9]:
all_files=file_list_maker(path, bed_files)

In [10]:
test_file_bed=all_files[0]
df=bed2df_expanded(test_file_bed)

In [11]:
df.head()

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,9800,15,9800,49,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
1,chr1,9800,10600,9,800,4,I,IIII
2,chr1,10600,540400,15,529800,2649,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
3,chr1,540400,540800,1,400,2,A,AA
4,chr1,540800,569800,15,29000,145,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...

In [12]:
df_chr_list=df2chr_df(df)

In [10]:
chr_css_list=df2css_chr_str(df)

In [11]:
type(chr_css_list)

list

In [12]:
len(chr_css_list)

25