### TEST for unitility
Various functions to process the initial bed data

In [121]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from motif_utils import seq2kmer

#### Preparing the .bed file list

In [122]:
# file name reader
# make a list of all the filename

path='../database/bed/unzipped/'
bed_files=os.listdir(path)

def file_list_maker(path, files):
    all_files=[]
    for file in files:
        file_path=os.path.join(path,file)
        all_files.append(file_path)
    return all_files
all_files=file_list_maker(path, bed_files)

In [123]:
all_files[0]

'../database/bed/unzipped/E001_15_coreMarks_stateno.bed'

In [124]:
# test file
test_filename='../database/bed/unzipped/E017_15_coreMarks_stateno.bed'

In [125]:
state_dict={1:"A", 2:"B", 3:"C", 4:"D", 5:"E",6:"F",7:"G",8:"H" ,
                9:"I" ,10:"J",11:"K", 12:"L", 13:"M", 14:"N", 15:"O"}

#### Functions to make .bed to dataframe

In [126]:
# create dataframe from bed file
# bed file here means: EXXX_15_coreMarks_stateno.bed

def bed2df_as_is(filename):    
    
    """Create dataframe from the .bed file, as is.
    Dataframe contains following columns:
    chromosome |  start |  end  | state """
    
    df_raw=pd.read_csv(filename, sep='\t', lineterminator='\n', header=None, low_memory=False)
    df=df_raw.rename(columns={0:"chromosome",1:"start",2:"end",3:"state"})
    df=df[:-1]
    df["start"]=pd.to_numeric(df["start"])
    df["end"]=pd.to_numeric(df["end"])
    
    return df

In [127]:
def bed2df_expanded(filename):
    
    """Create an expanded dataframe from the .bed file.
    Dataframe contains following columns:
    chromosome |  start |  end  | state | length | unit | state_seq | state_seq_full"""
   
    df_raw=pd.read_csv(filename, sep='\t', lineterminator='\n', header=None, low_memory=False)
    df=df_raw.rename(columns={0:"chromosome",1:"start",2:"end",3:"state"})
    df=df[:-1]
    df["start"]=pd.to_numeric(df["start"])
    df["end"]=pd.to_numeric(df["end"])
    df["state"]=pd.to_numeric(df["state"])
    df["length"]=df["end"]-df["start"]
    df["unit"]=(df["length"]/100).astype(int)
               
    df["state_seq"]=df["state"].map(state_dict)
    df["state_seq_full"]=df["unit"]*df["state_seq"]
    
    return df

In [132]:
def total_df_maker(all_files):
    
    """Create a list of dataframe from a list of bed files.]
    This function utilizes the function named 'bed2df_expanded.'"""
    
    total_df=[]
    for filename in all_files:
        df=bed2df_expanded(filename)
        total_df.append(df)
    return total_df

#### Functions for analyzing an individual dataframe

CSS here refers Chromatin state sequence

In [128]:
def numchr(df):
    assert "chromosome" in df.columns, "Check your df has the column named 'chromosome'"
    return df["chromosome"].nunique()

In [141]:
# create a large piece of string of the whole state_seq_full 
# CSS: chromatin-state sequence

def df2css_allchr(df):
    
    """Create a large piece of string of the whole state_seq_full 
    This function generates a string from the entire chromosomes"""
    
    state_seq_full_list=df["state_seq_full"].tolist()
    state_seq_full_to_str=''.join([elm for elm in state_seq_full_list ])
    return state_seq_full_to_str

#### Create CSS chromosome-wise

In [154]:
# first learn where one chromosome ends in the df

def df2chr_index(df):
    
    """Create a list of smaller piece of string of the state_seq_full per chromosome
    This function generates a list of chromatin state sequence strings chromosome-wise"""
    
    total_row=len(df)
    chr_len=[]
    chr_check=[]
    chr_index=[]

    for i in range(total_row):
        if (df["start"].iloc[i]==0) & (i >0):
            chr_len.append(df["end"].iloc[i-1]) # chr_len stores the end position of each chromosome
            chr_check.append(df["start"].iloc[i]) # for assertion : later check chr_check are all zero
            chr_index.append(i-1) # the index (row number)

    end_len=df["end"].iloc[-1] # add the final end position
    end_index=total_row-1 # add the final end index (row number)
 
    chr_len.append(end_len)
    chr_index.append(end_index)

    assert len(chr_len)==df["chromosome"].nunique() #assert the length of the list corresponds to no. of chromosome
    assert len(chr_index)==df["chromosome"].nunique()
    
    return chr_index

## Start working from HERE

In [156]:
# create a chromosome-wise string of state_seq_full

def df2css_chr(df):   # didn;t work_?
    
    start=0
    df_chr_list=[]
    chr_index=df2chr_index(df)
    
    for index in chr_index:
        df_chr=df["state_seq_full"][start:index]
        chr_name=df["chromosome"].iloc[start] # string, such as chr1, chr2, ...
        df_name='df_'+chr_name  # the chromosome-wise data stored like df_chr1, df_chr2, ...
        locals()[df_name]=df_chr
        df_chr_list.append(df_chr)
        start=index+1
    
    css_full_list=df_chr.tolist()
    css_full_to_str=''.join([elm for elm in css_full_list])
    return css_full_to_str

In [155]:
chr_index_test=df2chr_index(df)

In [157]:
df2css_chr(df)

[0        OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 1                                               IIIIIIIIII
 2                                   OOOOOOOOOOOOOOOOOOOOOO
 3                                                       GG
 4                             EEEEEEEEEEEEEEEEEEEEEEEEEEEE
                                ...
 53435             DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
 53436    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
 53437               GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
 53438    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 53439                                           IIIIIIIIII
 Name: state_seq_full, Length: 53440, dtype: object,
 53441     OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 53442                                IIIIIIIIIIIIIIIIIIIIII
 53443     OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 53444     IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 53445     OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
                                 ...
 107513                                                 EEEE
 107514                                               DDDDDD
 107515    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
 107516    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 107517                                           IIIIIIIIII
 Name: state_seq_full, Length: 54077, dtype: object,
 107519    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 107520                                               IIIIII
 107521    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 107522    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 107523                                       MMMMMMMMMMMMMM
                                 ...
 148524                         NNNNNNNNNNNNNNNNNNNNNNNNNNNN
 148525                                             MMMMMMMM
 148526    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 148527    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 148528                                             IIIIIIII
 Name: state_seq_full, Length: 41010, dtype: object,
 148530    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 148531                                     IIIIIIIIIIIIIIII
 148532    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 148533                     IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 148534         OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                                 ...
 182108                                       IIIIIIIIIIIIII
 182109    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 182110    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 182111    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 182112                                       IIIIIIIIIIIIII
 Name: state_seq_full, Length: 33583, dtype: object,
 182114    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 182115                                   NNNNNNNNNNNNNNNNNN
 182116                     MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 182117    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 182118                       MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
                                 ...
 218410                                             FFFFFFFF
 218411    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
 218412                                             IIIIIIII
 218413    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 218414                 IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 Name: state_seq_full, Length: 36301, dtype: object,
 218416    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 218417                                                 GGGG
 218418                                     EEEEEEEEEEEEEEEE
 218419                                         GGGGGGGGGGGG
 218420                                                   LL
                                 ...
 255433                                                   BB
 255434                                   AAAAAAAAAAAAAAAAAA
 255435             OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 255436                                       IIIIIIIIIIIIII
 255437    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 Name: state_seq_full, Length: 37022, dtype: object,
 255439    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 255440                                                 AAAA
 255441    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 255442    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
 255443                           NNNNNNNNNNNNNNNNNNNNNNNNNN
                                 ...
 287708                             IIIIIIIIIIIIIIIIIIIIIIII
 287709                             OOOOOOOOOOOOOOOOOOOOOOOO
 287710    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 287711    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 287712                                             IIIIIIII
 Name: state_seq_full, Length: 32274, dtype: object,
 287714    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 287715                                             IIIIIIII
 287716    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 287717                                             GGGGGGGG
 287718    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
                                 ...
 318068                                                   FF
 318069    DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD...
 318070               EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
 318071    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 318072                                         IIIIIIIIIIII
 Name: state_seq_full, Length: 30359, dtype: object,
 318074    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 318075                                                 AAAA
 318076                         EEEEEEEEEEEEEEEEEEEEEEEEEEEE
 318077                                               FFFFFF
 318078    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
                                 ...
 345669    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 345670    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 345671                                             IIIIIIII
 345672                         NNNNNNNNNNNNNNNNNNNNNNNNNNNN
 345673                             IIIIIIIIIIIIIIIIIIIIIIII
 Name: state_seq_full, Length: 27600, dtype: object,
 345675    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 345676    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 345677                                           MMMMMMMMMM
 345678                                         NNNNNNNNNNNN
 345679                                                   JJ
                                 ...
 377068                                             IIIIIIII
 377069    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 377070               IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 377071    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 377072                                           IIIIIIIIII
 Name: state_seq_full, Length: 31398, dtype: object,
 377074    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 377075    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 377076                                     IIIIIIIIIIIIIIII
 377077                                             NNNNNNNN
 377078                                                 LLLL
                                 ...
 409047    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 409048                               OOOOOOOOOOOOOOOOOOOOOO
 409049    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 409050         OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 409051    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 Name: state_seq_full, Length: 31978, dtype: object,
 409053    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 409054    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 409055                                                 GGGG
 409056    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
 409057                                                   BB
                                 ...
 438147                                           IIIIIIIIII
 438148                               OOOOOOOOOOOOOOOOOOOOOO
 438149                                 IIIIIIIIIIIIIIIIIIII
 438150    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 438151                                             IIIIIIII
 Name: state_seq_full, Length: 29099, dtype: object,
 438153    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 438154                                           IIIIIIIIII
 438155    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 438156                           IIIIIIIIIIIIIIIIIIIIIIIIII
 438157    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
                                 ...
 456688                                               GGGGGG
 456689                                             NNNNNNNN
 456690                                               MMMMMM
 456691                                   NNNNNNNNNNNNNNNNNN
 456692                                             IIIIIIII
 Name: state_seq_full, Length: 18540, dtype: object,
 456694    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 456695    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 456696                                                   HH
 456697    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 456698                           OOOOOOOOOOOOOOOOOOOOOOOOOO
                                 ...
 476844    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 476845    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 476846                   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 476847                               OOOOOOOOOOOOOOOOOOOOOO
 476848    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 Name: state_seq_full, Length: 20155, dtype: object,
 476850    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 476851    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 476852                 OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
 476853                           IIIIIIIIIIIIIIIIIIIIIIIIII
 476854                         OOOOOOOOOOOOOOOOOOOOOOOOOOOO
                                 ...
 498496                               EEEEEEEEEEEEEEEEEEEEEE
 498497                                             FFFFFFFF
 498498                                         EEEEEEEEEEEE
 498499                                               DDDDDD
 498500    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
 Name: state_seq_full, Length: 21651, dtype: object,
 498502    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 498503                                           AAAAAAAAAA
 498504    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
 498505                                                   GG
 498506    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
                                 ...
 518960    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 518961                                 MMMMMMMMMMMMMMMMMMMM
 518962    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 518963                                     MMMMMMMMMMMMMMMM
 518964                                     NNNNNNNNNNNNNNNN
 Name: state_seq_full, Length: 20463, dtype: object,
 518966                                   MMMMMMMMMMMMMMMMMM
 518967    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 518968    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
 518969    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 518970    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
                                 ...
 544290                         MMMMMMMMMMMMMMMMMMMMMMMMMMMM
 544291                                       LLLLLLLLLLLLLL
 544292                                           MMMMMMMMMM
 544293                                               LLLLLL
 544294                               GGGGGGGGGGGGGGGGGGGGGG
 Name: state_seq_full, Length: 25329, dtype: object,
 544296    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 544297             IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 544298    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 544299                           NNNNNNNNNNNNNNNNNNNNNNNNNN
 544300    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
                                 ...
 560532                                             GGGGGGGG
 560533                                         OOOOOOOOOOOO
 560534                                             IIIIIIII
 560535             NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
 560536                                                   KK
 Name: state_seq_full, Length: 16241, dtype: object,
 560538    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 560539                                             IIIIIIII
 560540    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 560541                                     IIIIIIIIIIIIIIII
 560542                                   OOOOOOOOOOOOOOOOOO
                                 ...
 579913                                               FFFFFF
 579914                             DDDDDDDDDDDDDDDDDDDDDDDD
 579915                                               EEEEEE
 579916                                       FFFFFFFFFFFFFF
 579917                                                   GG
 Name: state_seq_full, Length: 19380, dtype: object,
 579919    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 579920                                     NNNNNNNNNNNNNNNN
 579921                                               MMMMMM
 579922    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 579923    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
                                 ...
 595696    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 595697                                                 BBBB
 595698                                           AAAAAAAAAA
 595699                                             OOOOOOOO
 595700                                                   GG
 Name: state_seq_full, Length: 15782, dtype: object,
 595702    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 595703                                           IIIIIIIIII
 595704                           OOOOOOOOOOOOOOOOOOOOOOOOOO
 595705                     IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 595706                                           OOOOOOOOOO
                                 ...
 604475                                             NNNNNNNN
 604476                           MMMMMMMMMMMMMMMMMMMMMMMMMM
 604477    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
 604478                                         MMMMMMMMMMMM
 604479                           NNNNNNNNNNNNNNNNNNNNNNNNNN
 Name: state_seq_full, Length: 8778, dtype: object,
 604481    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 604482             IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 604483    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 604484                   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 604485                   OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                                 ...
 615806                             EEEEEEEEEEEEEEEEEEEEEEEE
 615807                                       AAAAAAAAAAAAAA
 615808                                             EEEEEEEE
 615809                                           GGGGGGGGGG
 615810    EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE...
 Name: state_seq_full, Length: 11330, dtype: object,
 615812    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 615813                                                   II
 615814                                                   HH
 Name: state_seq_full, dtype: object,
 615816    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 615817                                             IIIIIIII
 615818    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 615819                                   IIIIIIIIIIIIIIIIII
 615820    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
                                 ...
 635596                                     EEEEEEEEEEEEEEEE
 635597                                               DDDDDD
 635598         EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
 635599                                 OOOOOOOOOOOOOOOOOOOO
 635600                                           IIIIIIIIII
 Name: state_seq_full, Length: 19785, dtype: object,
 635602    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 635603                                             IIIIIIII
 635604    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 635605    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 635606     OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                                 ...
 635727                                     IIIIIIIIIIIIIIII
 635728    OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
 635729                                   IIIIIIIIIIIIIIIIII
 635730                                           OOOOOOOOOO
 635731    IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...
 Name: state_seq_full, Length: 130, dtype: object]

In [147]:
df.head()

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,9800,15,9800,98,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
1,chr1,9800,10800,9,1000,10,I,IIIIIIIIII
2,chr1,10800,13000,15,2200,22,O,OOOOOOOOOOOOOOOOOOOOOO
3,chr1,13000,13200,7,200,2,G,GG
4,chr1,13200,16000,5,2800,28,E,EEEEEEEEEEEEEEEEEEEEEEEEEEEE

In [ ]:
# state enrichment analysis



chr_css_newline='\n'.join(chr_css_list)

state_enri_keys=list(state_dict.values())
state_enri_keys
state_enri_vals=[]
for state in list(state_dict.values()):
    enri=chr_css_newline.count(state)
    state_enri_vals.append(enri)
    
state_enri_dict=dict(zip(state_enri_keys, state_enri_vals))

#### Test starts from here

In [133]:
df_asis=bed2df_as_is(test_filename)
df_asis.head()

  chromosome  start    end state
0       chr1      0   9800    15
1       chr1   9800  10800     9
2       chr1  10800  13000    15
3       chr1  13000  13200     7
4       chr1  13200  16000     5

In [134]:
df=bed2df_expanded(test_filename)
df.head()

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,9800,15,9800,98,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
1,chr1,9800,10800,9,1000,10,I,IIIIIIIIII
2,chr1,10800,13000,15,2200,22,O,OOOOOOOOOOOOOOOOOOOOOO
3,chr1,13000,13200,7,200,2,G,GG
4,chr1,13200,16000,5,2800,28,E,EEEEEEEEEEEEEEEEEEEEEEEEEEEE

In [135]:
numchr(df)

25

In [136]:
total_df_list=total_df_maker(all_files)

In [138]:
total_df_list[0].head()

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,9800,15,9800,98,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
1,chr1,9800,10600,9,800,8,I,IIIIIIII
2,chr1,10600,540400,15,529800,5298,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
3,chr1,540400,540800,1,400,4,A,AAAA
4,chr1,540800,569800,15,29000,290,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...

In [140]:
total_df_list[126].head()

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,54000,15,54000,540,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
1,chr1,54000,56200,14,2200,22,N,NNNNNNNNNNNNNNNNNNNNNN
2,chr1,56200,84000,15,27800,278,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
3,chr1,84000,88800,14,4800,48,N,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
4,chr1,88800,235400,15,146600,1466,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...

In [142]:
df_all_css=df2css_allchr(df)

# check first 10 characters of the string
df_all_css[:10]

'OOOOOOOOOO'

In [ ]:
# To collect the number of sequences for each chromosome, scan the start column
total_row=len(df)
chr_len=[]
chr_check=[]
chr_index=[]

for i in range(total_row):
    if (df["start"].iloc[i]==0) & (i >0):
        chr_len.append(df["end"].iloc[i-1])
        chr_check.append(df["start"].iloc[i]) # assert
        chr_index.append(i-1)


end_len=df["end"].iloc[-1]
end_index=total_row-1

chr_len.append(end_len)
chr_index.append(end_index)

assert len(chr_len)==df["chromosome"].nunique()
assert len(chr_index)==df["chromosome"].nunique()

### class test ...should I make a class?

In [74]:
class bed2df_cls:
    
    def __init__(self, fname):
        
        self.fname=fname
        
        df_raw=pd.read_csv(fname, sep='\t', lineterminator='\n', 
                           header=None, low_memory=False)
        df=df_raw.rename(columns={0:"chromosome",1:"start",2:"end",3:"state"})
        df=df[:-1] # remove the end row: it displayed the cell id and track no.
        df["start"]=pd.to_numeric(df["start"])
        df["end"]=pd.to_numeric(df["end"])
        df["length"]=df["end"]-df["start"]
        df["unit"]=(df["length"]/100).astype(int)
        
        state_dict={1:"A", 2:"B", 3:"C", 4:"D", 5:"E",6:"F",7:"G",8:"H" ,
                    9:"I" ,10:"J",11:"K", 12:"L", 13:"M", 14:"N", 15:"O"}
        
        df["state"]=pd.to_numeric(df["state"])
        df["state_seq"]=df["state"].map(state_dict)
        df["state_seq_full"]=df["unit"]*df["state_seq"]
        
        self.df=df
        self.df_len=len(df)
        self.numchr=df["chromosome"].nunique()
        
        print(".df : dataframe \n.df_len : length of dataframe \n.numchr : no. of chromosome")

In [76]:
df_test=bed2df_cls(filename)
df_test.df.head()

.df : dataframe
.df_len : length of dataframe
.numchr : no. of chromosome

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,9800,15,9800,98,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
1,chr1,9800,10800,9,1000,10,I,IIIIIIIIII
2,chr1,10800,13000,15,2200,22,O,OOOOOOOOOOOOOOOOOOOOOO
3,chr1,13000,13200,7,200,2,G,GG
4,chr1,13200,16000,5,2800,28,E,EEEEEEEEEEEEEEEEEEEEEEEEEEEE