## Fine tuning data preparation

* In the DNABERT
    * Their data for pretrain (`6_3k.txt`) didn't really have common sequence with their fine tuning data.
    * There are two fine tuning training data: `train.tsv` (21Mb) and `dev.tsv` (660K)
    * Those data are labelled (delimited by tab) into 2 classes, 0 or 1.

In [1]:
from css_utility import *

In [2]:
# To peek how data look like:
path="../database/dnabert/examples/sample_data/ft/6/"
file_list=[os.path.join(path, file) for file in os.listdir(path)]
file_list

['../database/dnabert/examples/sample_data/ft/6/train.tsv',
 '../database/dnabert/examples/sample_data/ft/6/dev.tsv']

In [3]:
train_pre=pd.read_csv("../database/dnabert/examples/sample_data/pre/6_3k.txt", sep="\n",  \
                      header=None, names=["sequence"])  # data for pretrain
train=pd.read_csv(file_list[0], sep="\t")
dev=pd.read_csv(file_list[1], sep="\t")

In [4]:
train.head()

                                            sequence  label
0  CACAGC ACAGCC CAGCCA AGCCAG GCCAGC CCAGCC CAGC...      0
1  CTAATC TAATCT AATCTA ATCTAG TCTAGT CTAGTA TAGT...      1
2  GGAAGA GAAGAG AAGAGG AGAGGG GAGGGA AGGGAA GGGA...      1
3  CGAAAG GAAAGC AAAGCA AAGCAA AGCAAT GCAATC CAAT...      1
4  TGACTC GACTCC ACTCCC CTCCCA TCCCAA CCCAAA CCAA...      1

In [5]:
print("len(train_pre): ", len(train_pre))
print("len(train.tsv): ", len(train))
print("len(dev.tsv): ", len(dev))

len(train_pre):  3000
len(train.tsv):  32366
len(dev.tsv):  1000

## Read chr2 for creating the similar dataset

In [6]:
chr2_path=np.sort(all_files)[1]
chr2_path

'../database/bed/unzipped/E002_15_coreMarks_stateno.bed'

In [7]:
df=bed2df_expanded(chr2_path)

In [8]:
all_unit_css=df2unitcss(df)

In [9]:
len(all_unit_css[1])

1215996

In [10]:
with open("../database/temp_files/css_gene_lst_all", "rb") as f:
    css_gene_lst_all=pickle.load(f) # genic area only

In [11]:
len(css_gene_lst_all[0])

5255

In [12]:
len(css_gene_lst_all[0][5000])

97262

In [12]:
# length distribution first!
# then the non-genic region!

In [13]:
def flatLst(lst):
        flatten_lst=[elm for sublst in lst for elm in sublst]
        return flatten_lst

In [14]:
flatten_css_gene_lst=flatLst(css_gene_lst_all)
len(flatten_css_gene_lst)

52260

In [15]:
def len_css_gene(css_gene_lst_all,color="teal"):
    def flatLst(lst):
        flatten_lst=[elm for sublst in lst for elm in sublst]
        return flatten_lst
    flatten_css_gene_lst=flatLst(css_gene_lst_all)
#     fig=plt.figure(figsize=(6,4))    
#     plt.hist(flatten_css_gene_lst)
# #     sns.histplot(flatten_css_gene_lst, kde=False, color=color, log_scale=True, element="step", fill=False)
# #     sns.histplot(flatten_css_gene_lst, kde=False, color=color, log_scale=True)
#     plt.xlabel("Length of each element in dataset", fontsize=12)
#     plt.show()
    return flatten_css_gene_lst

In [16]:
flatten_css_gene_lst=len_css_gene(css_gene_lst_all)

In [17]:
len(flatten_css_gene_lst)

52260

In [18]:
# plt.hist(flatten_css_gene_lst)  ## too large? kernel dies everytime I run this

In [25]:
g_lst_chr=whGene2GLChr(whole_gene_file='../database/RefSeq/RefSeq.WholeGene.bed')

In [26]:
# for i in range(len(g_df_chr_lst)):
len(g_lst_chr)

24

In [30]:
for i in range(len(g_lst_chr)):
    gene_df=g_lst_chr[i]
    print('gene_df["TxStart"].iloc[0] is {} at {}-th chromosome.'.format(gene_df["TxStart"].iloc[0], i))
    assert gene_df["TxStart"].iloc[0]<=2
    if i==3:
        break

gene_df["TxStart"].iloc[0] is 11873 at 0-th chromosome.

AssertionError:

In [63]:
len(gene_df)

5255

In [72]:
gene_df["TxStart"].iloc[5254]

249200441

In [59]:
#check whether the start, end is inside the whole css length (not from the very first, end at the very last)

for i in range(len(g_df_chr_lst)):
    g_df_chr=g_df_chr_lst[i]["TxStart"]  # pd.Series
    css_chr=css_lst_chr[i]
    assert g_df_chr.iloc[0] <=2, "Gene starts from the very first location."
    assert g_df_chr.iloc[-1]>=len(css_chr), "Gene ends at the very last location."

In [81]:
def compNonGene2css(whole_gene_file,df):
    """
    Input: Reference gene file, df (CSS)
    Output: list of chromosome-wise list that contains the css at "non-genic" area only.
    """
    g_lst_chr=whGene2GLChr(whole_gene_file) # list of gene table df per chromosome
    css_lst_chr=df2longcss(df) # list of long css per chromosome
    total_chr=len(g_lst_chr)
    
    css_Ngene_lst_all=[]
    for i in tqdm_notebook(range(total_chr)):
        css=css_lst_chr[i]   # long css of i-th chromosome
        gene_df=g_lst_chr[i] # gene df of i-th chromosome
        
        assert gene_df["TxStart"].iloc[0]>=1, "Gene starts from the very first location at {}-th chromosome.".format(i)
        assert gene_df["TxEnd"].iloc[-1]<=len(css), "Gene ends at the very last location at {}-th chromosome.".format(i)  
                
        css_Ngene_lst_chr=[]
        for j in range(len(gene_df)):
            if j==0:
                ng_start=1 # to avoid any "zero" causing problem 
                ng_end=gene_df["TxStart"].iloc[j]
#                 css_gene=css[g_start:g_end] 
            elif j==len(gene_df)-1: 
                ng_start=gene_df["TxEnd"].iloc[j]
                ng_end=len(css)-1
            else:
                ng_start=gene_df["TxEnd"].iloc[j-1]
                if j <=3:
                    print("j: {} | ng_start: {}".format(j, ng_start))
                ng_end=gene_df["TxStart"].iloc[j]
                if j <=3:
                    print("j: {} | ng_end: {}".format(j, ng_end))
        
            css_Ngene=css[ng_start:ng_end]
            css_Ngene_lst_chr.append(css_Ngene)
        
        css_Ngene_lst_all.append(css_Ngene_lst_chr)   
    assert len(css_Ngene_lst_all)==total_chr
    return css_Ngene_lst_all

In [82]:
css_Ngene_lst_all=compNonGene2css(whole_gene_file,df)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=24.0), HTML(value='')))

j: 1 | ng_start: 14409
j: 1 | ng_end: 14361
j: 2 | ng_start: 29370
j: 2 | ng_end: 17368
j: 3 | ng_start: 17436
j: 3 | ng_end: 17368
j: 1 | ng_start: 46588
j: 1 | ng_end: 218135
j: 2 | ng_start: 264743
j: 2 | ng_end: 218135
j: 3 | ng_start: 256340
j: 3 | ng_end: 218135
j: 1 | ng_start: 66175
j: 1 | ng_end: 238278
j: 2 | ng_start: 451097
j: 2 | ng_end: 238278
j: 3 | ng_start: 451097
j: 3 | ng_end: 239325
j: 1 | ng_start: 88099
j: 1 | ng_end: 53178
j: 2 | ng_start: 88099
j: 2 | ng_end: 53178
j: 3 | ng_start: 88099
j: 3 | ng_end: 53178
j: 1 | ng_start: 190087
j: 1 | ng_end: 191625
j: 2 | ng_start: 195468
j: 2 | ng_end: 204874
j: 3 | ng_start: 218297
j: 3 | ng_end: 218337
j: 1 | ng_start: 148159
j: 1 | ng_end: 181465
j: 2 | ng_start: 205484
j: 2 | ng_end: 292056
j: 3 | ng_start: 351355
j: 3 | ng_end: 292056
j: 1 | ng_start: 155461
j: 1 | ng_end: 149717
j: 2 | ng_start: 155461
j: 2 | ng_end: 192968
j: 3 | ng_start: 300740
j: 3 | ng_end: 330135
j: 1 | ng_start: 117024
j: 1 | ng_end: 158344
j: 2 | ng_start: 182318
j: 2 | ng_end: 182136
j: 3 | ng_start: 197340
j: 3 | ng_end: 182136
j: 1 | ng_start: 14525
j: 1 | ng_end: 14510
j: 2 | ng_start: 29739
j: 2 | ng_end: 30143
j: 3 | ng_start: 30281
j: 3 | ng_end: 30143
j: 1 | ng_start: 95178
j: 1 | ng_end: 180404
j: 2 | ng_start: 300577
j: 2 | ng_end: 180423
j: 3 | ng_start: 300577
j: 3 | ng_end: 180423
j: 1 | ng_start: 131920
j: 1 | ng_end: 193079
j: 2 | ng_start: 194500
j: 2 | ng_end: 193079
j: 3 | ng_start: 194573
j: 3 | ng_end: 196760
j: 1 | ng_start: 69079
j: 1 | ng_end: 73724
j: 2 | ng_start: 91263
j: 2 | ng_end: 176048
j: 3 | ng_start: 287625
j: 3 | ng_end: 186541
j: 1 | ng_start: 19314239
j: 1 | ng_end: 19408542
j: 2 | ng_start: 19446109
j: 2 | ng_end: 19479578
j: 3 | ng_start: 19500881
j: 3 | ng_end: 19582398
j: 1 | ng_start: 19378574
j: 1 | ng_end: 19407014
j: 2 | ng_start: 19410111
j: 2 | ng_end: 19553364
j: 3 | ng_start: 19584942
j: 3 | ng_end: 19553364
j: 1 | ng_start: 20496811
j: 1 | ng_end: 20613649
j: 2 | ng_start: 20711433
j: 2 | ng_end: 20737093
j: 3 | ng_start: 20747114
j: 3 | ng_end: 20767673
j: 1 | ng_start: 64090
j: 1 | ng_end: 67051
j: 2 | ng_start: 67119
j: 2 | ng_end: 67051
j: 3 | ng_start: 67119
j: 3 | ng_end: 67051
j: 1 | ng_start: 31421
j: 1 | ng_end: 33614
j: 2 | ng_start: 37042
j: 2 | ng_end: 62179
j: 3 | ng_start: 202633
j: 3 | ng_end: 62179
j: 1 | ng_start: 15930
j: 1 | ng_end: 109064
j: 2 | ng_start: 122222
j: 2 | ng_end: 112255
j: 3 | ng_start: 112339
j: 3 | ng_end: 158482
j: 1 | ng_start: 70966
j: 1 | ng_end: 71972
j: 2 | ng_start: 72110
j: 2 | ng_end: 71972
j: 3 | ng_start: 72110
j: 3 | ng_end: 71972
j: 1 | ng_start: 77214
j: 1 | ng_end: 123193
j: 2 | ng_start: 126392
j: 2 | ng_end: 138110
j: 3 | ng_start: 139804
j: 3 | ng_end: 168493
j: 1 | ng_start: 9826011
j: 1 | ng_end: 9825831
j: 2 | ng_start: 9826011
j: 2 | ng_end: 9826202
j: 3 | ng_start: 9826263
j: 3 | ng_end: 9826202
j: 1 | ng_start: 16193009
j: 1 | ng_end: 16157078
j: 2 | ng_start: 16172265
j: 2 | ng_end: 16162065
j: 3 | ng_start: 16172265
j: 3 | ng_end: 16162065
j: 1 | ng_start: 220022
j: 1 | ng_end: 198060
j: 2 | ng_start: 220022
j: 2 | ng_end: 221416
j: 3 | ng_start: 230887
j: 3 | ng_end: 281384
j: 1 | ng_start: 170022
j: 1 | ng_end: 148060
j: 2 | ng_start: 170022
j: 2 | ng_end: 171416
j: 3 | ng_start: 180887
j: 3 | ng_end: 231384

In [85]:
gene_df.iloc[:10]

     chromosome  TxStart  TxEnd       name
1463       chr1    11873  14409  NR_046018
1460       chr1    14361  29370  NR_024540
1458       chr1    17368  17436  NR_106918
1455       chr1    17368  17436  NR_128720
1457       chr1    17368  17436  NR_107062
1454       chr1    17368  17436  NR_107063
1456       chr1    30365  30503  NR_036051
1453       chr1    30365  30503  NR_036267
1465       chr1    30365  30503  NR_036268
1464       chr1    30365  30503  NR_036266

In [ ]:
############ Oh,,, genes are overlapped! I need to make a gene table not to overlap.. to show the non-genic (intergenic)

In [86]:
g_df_chr_lst=whGene2GLChr(whole_gene_file='../database/RefSeq/RefSeq.WholeGene.bed')

In [87]:
g_df_chr_lst

[     chromosome    TxStart      TxEnd          name
 1463       chr1      11873      14409     NR_046018
 1460       chr1      14361      29370     NR_024540
 1458       chr1      17368      17436     NR_106918
 1455       chr1      17368      17436     NR_128720
 1457       chr1      17368      17436     NR_107062
 ...         ...        ...        ...           ...
 5247       chr1  249144202  249153315  NM_001193328
 5249       chr1  249144202  249153125  NM_001136036
 5250       chr1  249144202  249153315     NM_017865
 5253       chr1  249200441  249213345  NM_001017434
 5254       chr1  249200441  249213345     NM_170725

 [5255 rows x 4 columns],
      chromosome    TxStart      TxEnd          name
 6571       chr2      38813      46588  NM_001077710
 5504       chr2     218135     264743     NR_104223
 6572       chr2     218135     256340  NM_001282687
 6573       chr2     218135     261130     NR_104227
 5511       chr2     218135     264866  NM_001282682
 ...         ...        ...        ...           ...
 8522       chr2  242912833  242919427     NR_110592
 8523       chr2  243030783  243102476     NR_130699
 8524       chr2  243030783  243102476     NR_130702
 8525       chr2  243030783  243102476     NR_130701
 8526       chr2  243030783  243102476     NR_130700

 [3272 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 9569        chr3      65430      66175     NR_110824
 8733        chr3     238278     451097     NM_006614
 8735        chr3     238278     451097  NM_001253387
 8736        chr3     239325     290282     NR_045572
 8734        chr3     361365     451097  NM_001253388
 ...          ...        ...        ...           ...
 11381       chr3  197687070  197770591     NR_026786
 11382       chr3  197687070  197770591     NM_033029
 11384       chr3  197765194  197766338     NR_046669
 9563        chr3  197784403  197807542     NR_003291
 11385       chr3  197879236  197907728  NM_001145248

 [2859 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 12263       chr4      53178      88099  NM_001286054
 12266       chr4      53178      88099     NM_182524
 12264       chr4      53178      88099  NM_001286053
 12265       chr4      53178      88099  NM_001286052
 11576       chr4      53192     196095     NR_110527
 ...          ...        ...        ...           ...
 13403       chr4  190802669  190806022     NR_132380
 13404       chr4  190861973  190884359     NM_004477
 13405       chr4  190945522  190948412  NM_001005217
 13406       chr4  190945522  190948412  NM_001286820
 13407       chr4  190985656  190989019     NR_121644

 [2022 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 14291       chr5     140372     190087     NM_052909
 14290       chr5     191625     195468  NM_001080478
 14292       chr5     204874     218297     NM_145265
 14289       chr5     218337     257197     NM_004168
 14293       chr5     218337     257197  NM_001294332
 ...          ...        ...        ...           ...
 15823       chr5  180750506  180755196     NR_028322
 15822       chr5  180750506  180755196     NR_028325
 15824       chr5  180794287  180795226  NM_001005224
 15820       chr5  180794287  180795226  NM_001005277
 15825       chr5  180794287  180795226  NM_001005221

 [2418 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 16664       chr6     140263     148159     NR_109817
 16663       chr6     181465     205484     NR_126020
 16667       chr6     292056     351355     NR_104474
 16669       chr6     292056     351355     NR_104475
 16665       chr6     292056     351355     NM_020185
 ...          ...        ...        ...           ...
 18469       chr6  170884659  170893742  NM_001199462
 18466       chr6  170890834  170893780     NM_144781
 18467       chr6  170890834  170893742  NM_001199464
 18468       chr6  170890834  170893742  NM_001199463
 18470       chr6  170890834  170893780  NM_001199461

 [2647 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 19313       chr7     149717     155461     NR_108065
 19314       chr7     149717     155461     NR_108064
 18646       chr7     192968     300740     NM_020223
 19315       chr7     330135     331454  NM_001195127
 19316       chr7     419390     422845     NR_033960
 ...          ...        ...        ...           ...
 20917       chr7  158801044  158818929     NR_024394
 19308       chr7  158820865  158937649  NM_001304522
 19309       chr7  158820865  158937649     NM_003382
 19310       chr7  158820865  158889895  NM_001308259
 19311       chr7  158820865  158937649     NR_130758

 [2445 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 21573       chr8     116085     117024  NM_001005504
 21579       chr8     158344     182318     NR_003572
 21576       chr8     182136     197340  NM_001287256
 21577       chr8     182136     197340  NM_001287255
 21581       chr8     182199     197340  NM_001287399
 ...          ...        ...        ...           ...
 22782       chr8  146155743  146176274     NM_006958
 22784       chr8  146198974  146228285     NR_023392
 22786       chr8  146220250  146224283     NR_002807
 22785       chr8  146228196  146231432     NR_026974
 22787       chr8  146277823  146281416     NM_023080

 [1870 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 23431       chr9      11986      14525     NR_051986
 23424       chr9      14510      29739     NM_182905
 23423       chr9      30143      30281     NR_036051
 23428       chr9      30143      30281     NR_036266
 23432       chr9      30143      30281     NR_036268
 ...          ...        ...        ...           ...
 24843       chr9  140838081  140841512     NR_132978
 24842       chr9  140838081  140841512     NR_132977
 24844       chr9  140934954  140939523     NR_121582
 24846       chr9  141044564  141071885     NR_027156
 24845       chr9  141106636  141134172  NM_001145249

 [2059 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 28389      chr10      92827      95178     NM_177987
 27707      chr10     180404     300577     NM_006624
 27709      chr10     180423     300577  NM_001202465
 27714      chr10     180423     300577  NM_001202466
 27708      chr10     180423     295729     NM_212479
 ...          ...        ...        ...           ...
 29714      chr10  135367403  135379138  NM_001143763
 29712      chr10  135367403  135382876     NM_130784
 29713      chr10  135368347  135379138  NM_001143764
 29711      chr10  135380437  135383462     NR_033789
 29715      chr10  135438602  135440299  NM_001080998

 [2163 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 29849      chr11     126986     131920     NR_028326
 30474      chr11     193079     194500  NM_001097610
 30477      chr11     193079     194573     NM_145651
 30475      chr11     196760     200258     NM_053280
 30482      chr11     196760     200258  NM_001286136
 ...          ...        ...        ...           ...
 32786      chr11  134146274  134189458  NM_001080407
 29716      chr11  134201767  134246218     NM_138342
 32794      chr11  134248397  134281812     NM_018644
 32795      chr11  134248397  134281812     NM_054025
 30471      chr11  134306375  134375555     NR_033852

 [3080 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 33599      chr12      67606      69079     NR_026823
 33600      chr12      73724      91263     NR_130745
 32944      chr12     176048     287625  NM_001170738
 32946      chr12     186541     280494     NM_015232
 33601      chr12     246576     258332     NR_033859
 ...          ...        ...        ...           ...
 35403      chr12  133757994  133783697  NM_001165883
 35395      chr12  133757994  133783697     NM_003415
 35404      chr12  133758059  133783697  NM_001165882
 35405      chr12  133758059  133783697  NM_001165881
 35396      chr12  133794897  133812422  NM_001191054

 [2611 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 35784      chr13   19312239   19314239     NR_047508
 35785      chr13   19408542   19446109     NR_027995
 35786      chr13   19479578   19500881     NR_104118
 35787      chr13   19582398   19586774     NR_026852
 35788      chr13   19747909   19755992     NM_006001
 ...          ...        ...        ...           ...
 36400      chr13  115047058  115071291     NM_023011
 35780      chr13  115079964  115092803  NM_001164144
 35781      chr13  115079964  115092803  NM_001164145
 35782      chr13  115079964  115092803     NM_032436
 36403      chr13  115095231  115099423     NR_126391

 [997 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 36914      chr14   19377593   19378574  NM_001013354
 36915      chr14   19407014   19410111     NR_046104
 36916      chr14   19553364   19584942  NM_001005356
 36917      chr14   19553364   19584942     NR_027480
 36918      chr14   19563121   19566680     NR_110504
 ...          ...        ...        ...           ...
 38065      chr14  106435817  106438358     NR_002224
 38066      chr14  106744268  106744966     NR_033375
 38067      chr14  106938444  106951529     NR_027457
 38068      chr14  107092715  107092765     NR_106988
 38069      chr14  107259099  107259214     NR_049827

 [1666 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 38624      chr15   20487996   20496811     NR_038836
 38148      chr15   20613649   20711433     NR_036432
 38625      chr15   20737093   20747114  NM_001145004
 38626      chr15   20767673   20781026     NR_027411
 38627      chr15   20874796   20961480     NR_027992
 ...          ...        ...        ...           ...
 39850      chr15  102513726  102513794     NR_107063
 39851      chr15  102513726  102513794     NR_107062
 39852      chr15  102513726  102513794     NR_106918
 39848      chr15  102516760  102519296     NR_034090
 39853      chr15  102516760  102519296     NR_051985

 [1786 rows x 4 columns],
       chromosome   TxStart     TxEnd          name
 40332      chr16     61554     64090     NR_045117
 40330      chr16     67051     67119     NR_106918
 40324      chr16     67051     67119     NR_107062
 40326      chr16     67051     67119     NR_128720
 40325      chr16     67051     67119     NR_107063
 ...          ...       ...       ...           ...
 41969      chr16  90095315  90096309     NR_122031
 41974      chr16  90106168  90114033     NR_027335
 41973      chr16  90109309  90114191     NR_027336
 41966      chr16  90122973  90142338  NM_001098173
 39935      chr16  90168671  90244014     NR_126161

 [2120 rows x 4 columns],
       chromosome   TxStart     TxEnd          name
 42514      chr17      6010     31421     NM_003585
 42515      chr17     33614     37042     NR_104420
 42079      chr17     62179    202633     NM_006987
 42074      chr17     62179    202633  NM_001190411
 42073      chr17     62179    202633  NM_001190412
 ...          ...       ...       ...           ...
 42069      chr17  80709939  80901062     NM_005993
 44864      chr17  80787309  80797931     NM_024702
 42513      chr17  80901666  81009686  NM_001009905
 44865      chr17  81037566  81052871  NM_001004431
 44866      chr17  81174665  81188573     NR_029406

 [2891 rows x 4 columns],
       chromosome   TxStart     TxEnd          name
 45196      chr18     12074     15930     NR_110795
 45194      chr18    109064    122222     NR_033770
 45195      chr18    112255    112339     NR_107045
 45198      chr18    158482    213739     NM_005151
 45197      chr18    158482    213739  NM_001037334
 ...          ...       ...       ...           ...
 45639      chr18  77827255  77839206     NR_103445
 45641      chr18  77866914  77898228     NM_014913
 45643      chr18  77905806  77936315     NR_028340
 45642      chr18  77905806  77929616     NR_028339
 45193      chr18  77915116  78005397     NM_032510

 [777 rows x 4 columns],
       chromosome   TxStart     TxEnd          name
 46108      chr19     60950     70966     NR_033266
 46114      chr19     71972     72110     NR_036268
 46111      chr19     71972     72110     NR_036267
 46107      chr19     71972     72110     NR_036051
 46109      chr19     71972     72110     NR_036266
 ...          ...       ...       ...           ...
 48948      chr19  59070552  59086164     NR_027334
 48937      chr19  59073283  59084942     NM_198055
 48930      chr19  59073283  59084942     NM_003422
 48939      chr19  59073283  59084942  NM_001267033
 48935      chr19  59086765  59095762     NR_026052

 [3305 rows x 4 columns],
       chromosome   TxStart     TxEnd          name
 49342      chr20     68312     77214     NM_153325
 49343      chr20    123193    126392     NM_030931
 49344      chr20    138110    139804     NM_139074
 49345      chr20    168493    170322  NM_001037732
 49347      chr20    207898    210527     NM_080831
 ...          ...       ...       ...           ...
 50416      chr20  62737182  62738184     NM_005286
 50428      chr20  62795826  62873606     NM_004535
 50427      chr20  62887047  62907579  NM_001104925
 50426      chr20  62887047  62907579     NM_018257
 50429      chr20  62921737  62934707     NR_040415

 [1481 rows x 4 columns],
       chromosome   TxStart     TxEnd          name
 50645      chr21   9825831   9826011     NR_128711
 50643      chr21   9825831   9826011     NR_037421
 50644      chr21   9826202   9826263     NR_037458
 50646      chr21   9826202   9826263     NR_128714
 50476      chr21   9907188   9968594     NR_038327
 ...          ...       ...       ...           ...
 51100      chr21  48055506  48081190  NM_001242866
 51101      chr21  48055506  48085036  NM_001242864
 51102      chr21  48055506  48075009  NM_001242865
 51103      chr21  48055506  48085036  NM_001286676
 51105      chr21  48055506  48085036  NM_001286678

 [676 rows x 4 columns],
       chromosome   TxStart     TxEnd          name
 51397      chr22  16150528  16193009     NR_122113
 51396      chr22  16157078  16172265     NR_133911
 51395      chr22  16162065  16172265     NR_073459
 51398      chr22  16162065  16172265     NR_073460
 51399      chr22  16199673  16231289     NR_132385
 ...          ...       ...       ...           ...
 52255      chr22  51205919  51222087  NM_001130921
 52256      chr22  51205919  51222087  NM_001130920
 52257      chr22  51205919  51222087  NM_001130919
 52250      chr22  51205919  51222087     NM_007081
 52259      chr22  51222156  51238065     NR_026982

 [1154 rows x 4 columns],
       chromosome    TxStart      TxEnd          name
 25485       chrX     192990     220022     NR_028057
 25486       chrX     198060     220022     NM_018390
 25487       chrX     221416     230887     NM_012227
 25490       chrX     281384     282054     NR_027232
 25489       chrX     281384     282054     NR_027231
 ...          ...        ...        ...           ...
 27173       chrX  155110942  155173433  NM_001185183
 27176       chrX  155110942  155173433     NR_033714
 27178       chrX  155227245  155240482     NM_176786
 27177       chrX  155227245  155240482     NM_002186
 27179       chrX  155255322  155257848     NR_110561

 [2333 rows x 4 columns],
       chromosome   TxStart     TxEnd       name
 27339       chrY    142990    170022  NR_028057
 27342       chrY    148060    170022  NM_018390
 27343       chrY    171416    180887  NM_012227
 27340       chrY    231384    232054  NR_027231
 27341       chrY    231384    232054  NR_027232
 ...          ...       ...       ...        ...
 27336       chrY  59213948  59276439  NR_033714
 27337       chrY  59213948  59276439  NR_033715
 27550       chrY  59330251  59343488  NM_002186
 27551       chrY  59330251  59343488  NM_176786
 27552       chrY  59358328  59360854  NR_110561

 [373 rows x 4 columns]]

In [99]:
g_df_chr_lst[0]["TxStart"].iloc[0]

11873

In [116]:
# try to create a function for collapsing the row by my self


def count_sameStart(g_df_chr_lst,chr_no):
    cnt_same_start=0
    tot_start=len(g_df_chr_lst[chr_no])
    for i in range(len(g_df_chr_lst[chr_no])):
        chr1=g_df_chr_lst[chr_no]["TxStart"]
        if i==0:
            continue
        elif chr1.iloc[i]==chr1.iloc[i-1]:
            cnt_same_start+=1  # how many same start in rows
        else:
            continue
    prop_same_start=cnt_same_start/tot_start
    return cnt_same_start, prop_same_start

In [108]:
cnt_same_start, prop_same=count_sameStart(g_df_chr_lst,0)

In [109]:
cnt_same_start, prop_same

(2171, 0.4131303520456708)

In [117]:
def count_sameEnd(g_df_chr_lst,chr_no):
    cnt_same_end=0
    tot_end=len(g_df_chr_lst[chr_no])
    for i in range(len(g_df_chr_lst[chr_no])):
        chr1=g_df_chr_lst[chr_no]["TxEnd"]       
        if i==0:
            continue
        elif chr1.iloc[i]==chr1.iloc[i-1]:
            cnt_same_end+=1  # how many same start in rows
        else:
            continue
    prop_same_end=cnt_same_end/tot_end
    return cnt_same_end, prop_same_end

In [112]:
cnt_same_end, prop_same=count_sameEnd(g_df_chr_lst,0)

In [113]:
cnt_same_end, prop_same

(2033, 0.3868696479543292)

In [ ]:
def count_samePos(g_df_chr_lst):
    cnt_same_start_all=[]
    cnt_same_end_all=[]
    tot_chr_no=len(g_df_chr_lst)
    
    ########### count the same start position ###########
    def count_sameStart(g_df_chr_lst,chr_no):
        cnt_same_start=0
        tot_start=len(g_df_chr_lst[chr_no])
        for i in range(len(g_df_chr_lst[chr_no])):
            chr1=g_df_chr_lst[chr_no]["TxStart"]
            if i==0:
                continue
            elif chr1.iloc[i]==chr1.iloc[i-1]:
                cnt_same_start+=1  # how many same start in rows
            else:
                continue
        prop_same_start=cnt_same_start/tot_start
        return cnt_same_start, prop_same_start
    
    ########### count the same end position ############
    def count_sameEnd(g_df_chr_lst,chr_no):
        cnt_same_end=0
        tot_end=len(g_df_chr_lst[chr_no])
        for i in range(len(g_df_chr_lst[chr_no])):
            chr1=g_df_chr_lst[chr_no]["TxEnd"]       
            if i==0:
                continue
            elif chr1.iloc[i]==chr1.iloc[i-1]:
                cnt_same_end+=1  # how many same start in rows
            else:
                continue
        prop_same_end=cnt_same_end/tot_end
        return cnt_same_end, prop_same_end
    ####################################################
    
    for i in range(tot_chr_no):

In [118]:
len(g_df_chr_lst)

24

In [97]:
with open("../database/test_chr1gene.txt", "wb") as f:
    pickle.dump(g_df_chr_lst[0],f)

In [ ]:
def compGene2css(whole_gene_file,df):
    g_lst_chr=whGene2GLChr(whole_gene_file) # list of gene table df per chromosome
    css_lst_chr=df2longcss(df) # list of long css per chromosome
    total_chr=len(g_lst_chr)
    
    css_gene_lst_all=[]
    for i in tqdm_notebook(range(total_chr)):
        css=css_lst_chr[i]   # long css of i-th chromosome
        gene_df=g_lst_chr[i] # gene df of i-th chromosome
        
        css_gene_lst_chr=[]
        for j in range(len(gene_df)): # it's right, because we scan the gene file from the df. and only get the no.
            g_start=gene_df["TxStart"].iloc[j]-1  # python counts form 0
            g_end=gene_df["TxEnd"].iloc[j]+1      # python excludes the end
            
            css_gene=css[g_start:g_end]           # cut the gene area only
            css_gene_lst_chr.append(css_gene)     # store in the list
          
        css_gene_lst_all.append(css_gene_lst_chr)  # list of list
    
    assert len(css_gene_lst_all)==total_chr
    return css_gene_lst_all