In [62]:
from platform import python_version
python_version()

'3.8.8'

In [84]:
import pandas as pd
import json
import tqdm

In [61]:
import pickle

In [31]:
from css_utility import path, bed_files
from css_utility import state_dict,css_name,css_dict,css_color_dict
from css_utility import file_list_maker,colors2color_dec,bed2df_as_is
from css_utility import bed2df_expanded,total_df_maker,numchr,df2css_allchr
from css_utility import df2chr_index,df2css_chr,df2css_chr_str,css_list2count

In [54]:
import tensorflow as tf

In [55]:
from tensorflow.python.client import device_lib

In [56]:
def get_available_dvices():
    local_device_protos=device_lib.list_local_devices()
    return [x.name for x in local_device_protos]
print(get_available_dvices())

['/device:CPU:0']

In [57]:
tf.__version__

'2.4.1'

In [58]:
tf.config.list_physical_devices("GPU")

[]

#### All file name list from bed file list

In [32]:
all_files=file_list_maker(path, bed_files)
all_files

['../database/bed/unzipped/E001_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E002_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E003_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E004_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E005_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E006_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E007_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E008_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E009_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E010_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E011_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E012_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E013_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E014_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E015_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E016_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E017_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E018_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E019_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E020_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E021_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E022_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E023_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E024_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E025_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E026_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E027_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E028_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E029_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E030_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E031_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E032_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E033_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E034_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E035_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E036_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E037_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E038_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E039_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E040_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E041_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E042_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E043_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E044_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E045_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E046_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E047_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E048_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E049_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E050_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E051_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E052_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E053_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E054_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E055_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E056_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E057_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E058_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E059_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E061_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E062_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E063_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E065_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E066_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E067_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E068_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E069_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E070_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E071_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E072_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E073_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E074_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E075_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E076_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E077_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E078_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E079_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E080_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E081_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E082_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E083_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E084_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E085_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E086_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E087_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E088_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E089_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E090_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E091_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E092_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E093_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E094_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E095_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E096_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E097_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E098_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E099_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E100_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E101_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E102_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E103_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E104_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E105_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E106_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E107_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E108_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E109_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E110_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E111_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E112_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E113_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E114_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E115_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E116_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E117_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E118_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E119_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E120_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E121_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E122_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E123_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E124_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E125_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E126_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E127_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E128_15_coreMarks_stateno.bed',
 '../database/bed/unzipped/E129_15_coreMarks_stateno.bed']

In [34]:
test_file=all_files[0]
test_file

'../database/bed/unzipped/E001_15_coreMarks_stateno.bed'

In [35]:
df_as_is=bed2df_as_is(test_file)
df_as_is.head()

  chromosome   start     end state
0       chr1       0    9800    15
1       chr1    9800   10600     9
2       chr1   10600  540400    15
3       chr1  540400  540800     1
4       chr1  540800  569800    15

In [37]:
df=bed2df_expanded(test_file)
df.head()

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,9800,15,9800,98,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
1,chr1,9800,10600,9,800,8,I,IIIIIIII
2,chr1,10600,540400,15,529800,5298,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
3,chr1,540400,540800,1,400,4,A,AAAA
4,chr1,540800,569800,15,29000,290,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...

In [41]:
total_df_list=total_df_maker(all_files)
total_df_list[0].head()

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,9800,15,9800,98,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
1,chr1,9800,10600,9,800,8,I,IIIIIIII
2,chr1,10600,540400,15,529800,5298,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
3,chr1,540400,540800,1,400,4,A,AAAA
4,chr1,540800,569800,15,29000,290,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...

In [42]:
# no. of cell we have
len(total_df_list)

127

In [92]:
# create a pickle for a cell-wise dataframe

def total_df2pickle(total_df_list):
    for num, df_cell in enumerate(tqdm.notebook.tqdm(total_df_list)):
        path="../database/cell_pickle/"
        if num+1 < 10:
            file_name=path+"df_cell"+"00"+str(num+1)+".pkl"
            df_cell_pickled=df_cell.to_pickle(file_name)
        elif num+1 < 100:
            file_name=path+"df_cell"+"0"+str(num+1)+".pkl"
            df_cell_pickled=df_cell.to_pickle(file_name)
        else:
            file_name=path+"df_cell"+str(num+1)+".pkl"
            df_cell_pickled=df_cell.to_pickle(file_name)

In [93]:
total_df2pickle(total_df_list)

  0%|          | 0/127 [00:00<?, ?it/s]

In [95]:
unpickling_test=pd.read_pickle("../database/cell_pickle/df_cell001.pkl")
unpickling_test.head()

,chromosome,start,end,state,length,unit,state_seq,state_seq_full
0,chr1,0,9800,15,9800,98,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
1,chr1,9800,10600,9,800,8,I,IIIIIIII
2,chr1,10600,540400,15,529800,5298,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...
3,chr1,540400,540800,1,400,4,A,AAAA
4,chr1,540800,569800,15,29000,290,O,OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...

In [83]:
# Creating JSON file was strange, as I couldn't read the file and the file size is huge: almost 100 M per file

# for num, df_cell in enumerate(tqdm.notebook.tqdm(total_df_list)):
#     path="./cell_json/"
#     df_cell_json=df_cell.to_json()
#     if num+1 < 10:
#         json_name=path+"df_cell"+"00"+str(num+1)+".json"
#     elif num+1 < 100:
#         json_name=path+"df_cell"+"0"+str(num+1)+".json"
#     else:
#         json_name=path+"df_cell"+str(num+1)+".json"
#     with open(json_name, "w", encoding='utf8') as output:
#         json.dump(df_cell_json, output)
# # print("dataframe for all cells are stored as .json in " + path)

  0%|          | 0/127 [00:00<?, ?it/s]

In [88]:
df_test=json.load("./cell_json/df_cell001.json")
df_test

AttributeError: 'str' object has no attribute 'read'